<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="Краткосрочные и долгосрочные прогнозы погоды для всех стран и городов. Сведения об осадках, силе ветра, относительной влажности.">
      <meta name="yandex" content="index, nofollow">
      <meta name="keywords" content="Погода.Погода на сегодня.Прогноз погоды">
      <meta name = "author" content = "Литвинов Юрий">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Сайт погоды, история погоды</title>
      <link rel="stylesheet" href="styles/main.css">
      <style>
        @import url('styles/history.css');
      </style>
      <script type="text/javascript" src="mocks/HistoricalReviewMock.js"></script>
      <script type="text/javascript" src="js/dataProcessing.js"></script>
      <script type="text/javascript" src="js/requestVars.js"></script>
  </head>
  <body>
    <section id="mainToday">
      <header id="header">
        <nav id="topHeader">
          <a href="weather-details.html"><button id="today" class="mainTab">Сегодня</button></a>
          <a href="index.html"><button id="fiveDay" class="mainTab">5 дней</button></a> 
          <a href="historical-review.html"><button id="historyWeather" class="mainTab currentPage" >История погоды</button></a>
        </nav>
        <section id="bottomHeader">
          <span id="placeTop">
            <span id="cityInfo"></span>, <span id="countryInfo"></span>
          </span>
          <div id="form">
            <button id="find" type="submit"><img  src="img/find.png" alt="Поиск" title="Поиск"></button>
            <input id="searchField" title="Возможно в названии города присутствуют цифры.Введите название города с большой буквы. Если название состоит из двух слов,то введите второе слово через пробел" role="search" type="search" placeholder="Поиск" pattern="(^[A-Z]{1}[a-z]{1,100}$)|(^[А-Я]{1}[а-я]{1,100}$)|(^[А-Я]{1}[а-я]{1,100} [А-Яа-я]{1,100}$)|(^[A-Z]{1}[a-z]{1,100} [A-Za-z]{1,100}$)">
          </div>
        </section>
      </header>
      <main id="main">
        <ul id="tableHistory">
          <li class="month">
            <span class="main"></span>
            <span class="main">Средний максимум</span>
            <span class="main">Средний минимум</span>
            <span class="main">Рекордный максимум</span>
            <span class="main">Рекордный минимум</span>
          </li>
          <li class="month">
            <span>Январь</span>
            <span>-9<span>&deg</span></span>
            <span>-16<span>&deg</span></span>
            <span>3<span>&deg</span></span>
            <span>-39<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Февраль</span>
            <span>-8<span>&deg</span></span>
            <span>-15<span>&deg</span></span>
            <span>3<span>&deg</span></span>
            <span>-39<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Март</span>
            <span>-1<span>&deg</span></span>
            <span>-9<span>&deg</span></span>
            <span>9<span>&deg</span></span>
            <span>-30<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Апрель</span>
            <span>7<span>&deg</span></span>
            <span>-1<span>&deg</span></span>
            <span>24<span>&deg</span></span>
            <span>-22<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Май</span>
            <span>18<span>&deg</span></span>
            <span>7<span>&deg</span></span>
            <span>30<span>&deg</span></span>
            <span>-7<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Июнь</span>
            <span>23<span>&deg</span></span>
            <span>12<span>&deg</span></span>
            <span>36<span>&deg</span></span>
            <span>0<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Июль</span>
            <span>25<span>&deg</span></span>
            <span>14<span>&deg</span></span>
            <span>38<span>&deg</span></span>
            <span>4<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Август</span>
            <span>22<span>&deg</span></span>
            <span>12<span>&deg</span></span>
            <span>37<span>&deg</span></span>
            <span>1<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Сентябрь</span>
            <span>15<span>&deg</span></span>
            <span>7<span>&deg</span></span>
            <span>30<span>&deg</span></span>
            <span>-4<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Октябрь</span>
            <span>7<span>&deg</span></span>
            <span>0<span>&deg</span></span>
            <span>22<span>&deg</span></span>
            <span>-21<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Ноябрь</span>
            <span>-2<span>&deg</span></span>
            <span>-7<span>&deg</span></span>
            <span>12<span>&deg</span></span>
            <span>-29<span>&deg</span></span>
          </li>
          <li class="month">
            <span>Декабрь</span>
            <span>-7<span>&deg</span></span>
            <span>-13<span>&deg</span></span>
            <span>4<span>&deg</span></span>
            <span>-40<span>&deg</span></span>
          </li>
        </ul>
      </main>
      <footer id="footer">
        <span id="year"></span> &copy Copyright
      </footer>
    </section>
    <script type="text/javascript" src="js/request.js"></script>
  </body>
</html>