<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Краткосрочные и долгосрочные прогнозы погоды для всех стран и городов. Сведения об осадках, силе ветра, относительной влажности.">
    <meta name="yandex" content="index, nofollow">
    <meta name="keywords" content="Погода.Погода на сегодня.Прогноз погоды">
    <meta name = "author" content = "Литвинов Юрий">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сайт погоды. Погода на 5 дней</title>
    <style>
      @import url('styles/fiveDay.css');
    </style>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/ico">
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/dataProcessing.js"></script>
    <script type="text/javascript" src="js/requestVars.js"></script>
  </head>
  <body>
    <section class="overlay">  
    </section>
    <div class="spinner">
      <svg viewBox="0 0 450 450" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path id="sun" stroke-width="10"></path>
      </svg>
    </div>
    <section id="mainToday">
          <header class="headerNavigation headerScroll">
            <nav id="topHeader">
              <a href="weather-details.html"><button id="today" class="mainTab">Сегодня</button></a>
              <a href="index.html"><button id="fiveDay" class="mainTab currentPage">5 дней</button></a>
              <a href="historical-review.html"><button id="historyWeather" class="mainTab">История погоды</button></a>
            </nav>
            <section id="bottomHeader">
              <img id="topCloudy" src="" alt="" title="">
              <span id="placeTop">
                <span id="temperatureHeaderInfo"></span> <span id="cityInfo"></span>,<span id="countryInfo"></span>
              </span>
              <div id="form">
                <button id="find" type="submit"></button>
                <input id="searchField" title="Возможно в названии города присутствуют цифры.Введите название города с большой буквы. Если название состоит из двух слов,то введите второе слово через пробел" role="search" type="search" placeholder="Поиск" pattern="(^[A-Z]{1}[a-z]{1,100}$)|(^[А-Я]{1}[а-я]{1,100}$)|(^[А-Я]{1}[а-я]{1,100} [А-Яа-я]{1,100}$)|(^[A-Z]{1}[a-z]{1,100} [A-Za-z]{1,100}$)">
              </div>
            </section>
          </header>
          <main class="mainScroll">
            <section id="tableDay">
              <div id="slider">
                <div id="panelNav">
                  <div class="arrowLeft"></div>
                  <div id="day">
                    <div class="slide currentDayShow">
                          <div class="numberDay"></div>
                          <div id="timeDay">
                            <div class="timeDay">
                              <span class="night">Ночь</span>
                              <img class="nightImg" src="" alt="">
                              <span class="nightTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="moning">Утро</span>
                              <img class="moningImg" src="" alt="">
                              <span class="moningTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class ="day" >День</span>
                              <img class="dayImg" src="" alt="">
                              <span class ="dayTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="evening">Вечер</span>
                              <img class="eveningImg" src="" alt="">
                              <span class="eveningTemp"></span>
                            </div>
                          </div>
                    </div>
                    <div class="slide">
                          <div class="numberDay"></div>
                          <div id="timeDay">
                            <div class="timeDay">
                              <span class="night">Ночь</span>
                              <span><img class="nightImg" src="" alt=""></span>
                              <span class="nightTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="moning">Утро</span>
                              <span><img class="moningImg" src="" alt=""></span>
                              <span class="moningTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class ="day" >День</span>
                              <span><img class="dayImg" src="" alt=""></span>
                              <span class ="dayTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="evening">Вечер</span>
                              <span><img class="eveningImg" src="" alt=""></span>
                              <span class="eveningTemp"></span>
                            </div>
                          </div>
                    </div>
                    <div class="slide">
                          <div class="numberDay"></div>
                          <div id="timeDay">
                            <div class="timeDay">
                              <span class="night">Ночь</span>
                              <span><img class="nightImg" src="" alt=""></span>
                              <span class="nightTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="moning">Утро</span>
                              <span><img class="moningImg" src="" alt=""></span>
                              <span class="moningTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class ="day" >День</span>
                              <span><img class="dayImg" src="" alt=""></span>
                              <span class ="dayTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="evening">Вечер</span>
                              <span><img class="eveningImg" src="" alt=""></span>
                              <span class="eveningTemp"></span>
                            </div>
                          </div>
                    </div>
                    <div class="slide">
                          <div class="numberDay"></div>
                          <div id="timeDay">
                            <div class="timeDay">
                              <span class="night">Ночь</span>
                              <span><img class="nightImg" src="" alt=""></span>
                              <span class="nightTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="moning">Утро</span>
                              <span><img class="moningImg" src="" alt=""></span>
                              <span class="moningTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class ="day" >День</span>
                              <span><img class="dayImg" src="" alt=""></span>
                              <span class ="dayTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="evening">Вечер</span>
                              <span><img class="eveningImg" src="" alt=""></span>
                              <span class="eveningTemp"></span>
                            </div>
                          </div>
                    </div>
                    <div class="slide">
                          <div class="numberDay"></div>
                          <div id="timeDay">
                            <div class="timeDay">
                              <span class="night">Ночь</span>
                              <span><img class="nightImg" src="" alt=""></span>
                              <span class="nightTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="moning">Утро</span>
                              <span><img class="moningImg" src="" alt=""></span>
                              <span class="moningTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class ="day" >День</span>
                              <span><img class="dayImg" src="" alt=""></span>
                              <span class ="dayTemp"></span>
                            </div>
                            <div class="timeDay">
                              <span class="evening">Вечер</span>
                              <span><img class="eveningImg" src="" alt=""></span>
                              <span class="eveningTemp"></span>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="arrowRight"></div>
                </div>
                <div class="navigation">
                  <div class="navDays current"></div>
                  <div class="navDays"></div>
                  <div class="navDays"></div>
                  <div class="navDays"></div>
                  <div class="navDays"></div>
                </div>
              </div>
              <span id="maxSpeedWind">Максимальная скорость ветра,м/с</span>
              <ul id="middleTable">
                  <li>
                    <ul class="speedWindDay">
                      <li>
                        <span><span class="windNigth"></span></span>
                      </li>
                      <li>
                        <span><span class="windMoning"></span></span>
                      </li>
                      <li>
                        <span><span class="windDay"></span></span>
                      </li>
                      <li>
                        <span><span class="windEvening"></span></span>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="speedWindDay">
                      <li>
                        <span><span class="windNigth"></span></span>
                      </li>
                      <li>
                        <span><span class="windMoning"></span></span>
                      </li>
                      <li>
                        <span><span class="windDay"></span></span>
                      </li>
                      <li>
                        <span><span class="windEvening"></span></span>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="speedWindDay">
                      <li>
                        <span><span class="windNigth"></span></span>
                      </li>
                      <li>
                        <span><span class="windMoning"></span></span>
                      </li>
                      <li>
                        <span><span class="windDay"></span></span>
                      </li>
                      <li>
                        <span><span class="windEvening"></span></span>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="speedWindDay">
                      <li>
                        <span><span class="windNigth"></span></span>
                      </li>
                      <li>
                        <span><span class="windMoning"></span></span>
                      </li>
                      <li>
                        <span><span class="windDay"></span></span>
                      </li>
                      <li>
                        <span><span class="windEvening"></span></span>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="speedWindDay">
                      <li>
                        <span><span class="windNigth"></span></span>
                      </li>
                      <li>
                        <span><span class="windMoning"></span></span>
                      </li>
                      <li>
                        <span><span class="windDay"></span></span>
                      </li>
                      <li>
                        <span><span class="windEvening"></span></span>
                      </li>
                    </ul>
                  </li>
              </ul>
              <span id="probability">Осадки,мм</span>
              <ul id="bottomTable">
                  <li>
                    <ul class="probabilityDay">
                      <li class="probNigth"><span></span></li>
                      <li class="probMoning"><span></span></li>
                      <li class="probDay"><span></span></li>
                      <li class="probEvening"><span></span></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="probabilityDay">
                      <li class="probNigth"><span></span></li>
                      <li class="probMoning"><span></span></li>
                      <li class="probDay"><span></span></li>
                      <li class="probEvening"><span></span></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="probabilityDay">
                      <li class="probNigth"><span></span></li>
                      <li class="probMoning"><span></span></li>
                      <li class="probDay"><span></span></li>
                      <li class="probEvening"><span></span></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="probabilityDay">
                      <li class="probNigth"><span></span></li>
                      <li class="probMoning"><span></span></li>
                      <li class="probDay"><span></span></li>
                      <li class="probEvening"><span></span></li>
                    </ul>
                  </li>
                  <li>
                    <ul class="probabilityDay">
                      <li class="probNigth"><span></span></li>
                      <li class="probMoning"><span></span></li>
                      <li class="probDay"><span></span></li>
                      <li class="probEvening"><span></span></li>
                    </ul>
                  </li>
              </ul>
            </section>
            <section id="dateTodayDetails"><span id="DateAndWeekDay"></span><span>Солнце и луна</span></section >
            <section id="dayAndNigth">
              <section id="todayDetailsDay">
                <span>
                  <img src="img/FiveDay/Sun.png" alt="">
                  <span>
                    <span>
                      Долгота дня - 
                      <span id="longDay"></span>
                    </span>
                    <span>
                      Восход - 
                      <span id="sunrise"></span>
                    </span>
                    <span>
                      Заход - 
                      <span id="sunset"></span>
                    </span>
                  </span>
                </span>
                <span>Сегодня день на <span>2</span>минуты <span>длиннее</span>, чем вчера</span>
              </section>
              <section id="todayDetailsNight">
                  <span>
                    <img src="img/FiveDay/Moon.png" alt="">
                    <span>
                      <span>
                        <span>Луна растущая</span> - 
                        <span id="moontime"></span>
                      </span>
                      <span>
                        Восход - 
                        <span id="moonrise"></span>
                      </span>
                      <span>
                        Заход - 
                        <span id="moonset"></span>
                      </span>
                    </span>
                  </span>
                  <span>Полнолуние - <span></span> через <span>23</span> дня</span>
              </section>
            </section>
          </main>
          <footer id="footer">
            <span id="year"></span> &copy Copyright
          </footer>
    </section>
    <script type="text/javascript" src="js/spinner.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
    <script type="text/javascript" src="js/scrollPage.js"></script>
  </body>
</html>
