<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Краткосрочные и долгосрочные прогнозы погоды для всех стран и городов. Сведения об осадках, силе ветра, относительной влажности.">
    <meta name="yandex" content="index, nofollow">
    <meta name="keywords" content="Погода.Погода на сегодня.Прогноз погоды">
    <meta name = "author" content = "Литвинов Юрий">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сайт погоды. Погода на сегодня</title>
    <link rel="stylesheet" href="styles/main.css">
    <style>
      @import url('styles/today.css');
    </style>
    <script type="text/javascript" src="js/dataProcessing.js"></script>
    <script type="text/javascript" src="js/requestVars.js"></script>
  </head>
  <body>
    <section id="mainToday">
      <header id="header">
        <nav id="topHeader">
          <a href="weather-details.html"><button id="today" class="mainTab currentPage">Сегодня</button></a>
          <a href="index.html"><button id="fiveDay" class="mainTab">5 дней</button></a>
          <a href="historical-review.html"><button id="historyWeather" class="mainTab">История погоды</button></a>
        </nav>
        <section id="bottomHeader">
          <span>Загрязнение воздуха:<span id="polutionInfo"></span></span>
          <div id="form">
            <button id="find" type="submit"><img  src="img/find.png" alt="Поиск" title="Поиск"></button>
            <input id="searchField" title="Введите название города с большой буквы" role="search" type="search" placeholder="Поиск" pattern="">
          </div>
        </section>
      </header>
      <main id="main">
        <section id="mainDetails">
          <span id="detailsPlace">
            <div>
              <p><span id="cityInfo"></span>,<span id="countryInfo"></span></p>
              <p id="dayWeekInfo"></p>
              <p id="weatherInfo"></p>
            </div>
            <div class="detailsPlaceBlock">
              <img id="imgWeatherToday" src="" alt="" title="">
              <p id="temperature"><span id="temperatureInfo"></span></p>
            </div>
          </span>
          <span id="details">
            <div>
              <p>Вероятность осадков: <span id="probabilityPracipationInfo"></span>%</p>  
              <p>Влажность: <span id="wetnessInfo"></span>%</p>
              <p>Ветер: <span id="windSpeedInfo"></span> м/с</p>
            </div>
            <div id="detailsButton">
              <button id="temperatureInformarion" class="detailsTab currentTab">Температура</button>
              <button id="probability" class="detailsTab">Вероятность осадков</button>
              <button id="windInfo" class="detailsTab">Ветер</button>
            </div>
          </span>
        </section>
        <section  id="temperatureBlock" class="blockInformation currentBlock">
          <ul id="tempPlus">
            <li class="tempPlus">
              <div class="tempInfoPlus">
                <span class="tempvaluePlus"></span>
                <div class="tempColPlus"></div>
              </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
            <li class="tempPlus">
                <div class="tempInfoPlus">
                  <span class="tempvaluePlus"></span>
                  <div class="tempColPlus"></div>
                </div>
            </li>
          </ul>
          <ul id="tempMinus">
            <li class="tempMinus">
              <div class="tempInfoMinus">
                <div class="tempColMinus"></div>
                <span class="tempvalueMinus"></span>
              </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
            <li class="tempMinus">
                <div class="tempInfoMinus">
                  <div class="tempColMinus"></div>
                  <span class="tempvalueMinus"></span>
                </div>
            </li>
          </ul>
        </section>
        <section id="probabilityBlock" class="blockInformation">
          <ul id="probabilityDetails">
            <li class="probability">
              <div class="colProbabilityInfo">
                <div class="probabilityCol"></div>
              </div>
              <div class="colProbabilityInfo">
                <span class="probabilityValue">24%</span>
                <div class="probabilityCol"></div>
              </div>
              <div class="colProbabilityInfo">
                <div class="probabilityCol"></div>
              </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
            <li class="probability">
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <span class="probabilityValue">24%</span>
                  <div class="probabilityCol"></div>
                </div>
                <div class="colProbabilityInfo">
                  <div class="probabilityCol"></div>
                </div>
            </li>
          </ul>
        </section>
        <section id="windBlock" class="blockInformation">
          <ul id="windDetails">
            <li class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
            <li  class="windBlockInfo">
                <section class="wind">
                    <span class="speedWind"></span>
                    <img class="windArrow" src="img/Today/windArrow.png" alt="Направление ветра" title="Направление ветра">
                </section>
            </li>
          </ul>
        </section>
        <ul id="hoursDays">
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
          <li class="time"><span class="timeWeather"></span></li>
        </ul>
        <section id="fiveDays">
          <ul>
            <li class="days">
              <section class="dayWeek">
                <p> </p>
                <img src="" alt="" title="" >
                <p><span class="tempDay"></span><span class="tempNight"></span></p>
              </section>
            </li>
            <li class="days">
                <section class="dayWeek">
                  <p></p>
                  <img src="" alt="" title="" >
                  <p><span class="tempDay"></span><span class="tempNight"></span></p>
                </section>
            </li>
            <li class="days">
                <section class="dayWeek">
                  <p></p>
                  <img src="" alt="" title="" >
                  <p><span class="tempDay"></span><span class="tempNight"></span></p>
                </section>
            </li>
            <li class="days">
                <section class="dayWeek">
                  <p></p>
                  <img src="" alt="" title="" >
                  <p><span class="tempDay"></span><span class="tempNight"></span></p>
                </section>
            </li>
            <li class="days">
                <section class="dayWeek">
                  <p></p>
                  <img src="" alt="" title="" >
                  <p><span class="tempDay"></span><span class="tempNight"></span></p>
                </section>
            </li>
        </ul>    
        </section>
      </main>
      <footer id="footer">
        <span id="year"></span> &copy Copyright
      </footer>
    </section>
    <script type="text/javascript" src="js/weather-details.js"></script>
    <script type="text/javascript" src="js/request.js"></script>
  </body>
</html>