/* Шапка */
body{
    overflow-x: hidden;
}
/* Картника погоды */

#topCloudy{
    position: absolute;
    padding-left: 20px; 
    margin-top: 0px;
    height: 30px;
}

/* Температура и место */

#bottomHeader > #placeTop{
    font-size: 15px;
    color: #3268bf;
    margin-top: 6px;
    margin-left: 100px;
}

/* Основная часть*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #bcb5b9;
    border-left: 2px solid #bcb5b9;
    border-bottom: 1px solid #979797;
    height: auto;
    background-color: #ffffff;  
    padding: 3% 0;  
}
#tableDay{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#middleTable, #bottomTable{
    width: 100%;
}
#maxSpeedWind, #probability{
    border: 1px solid #979797;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background-color: rgb(225, 240, 250);
}
#middleTable, #bottomTable{
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #979797;
}
#bottomTable{
    border-bottom: 1px solid #979797;
}
#middleTable>li, #bottomTable>li{
    width: 20%;
    list-style-type: none;
    border-right: 1px solid #979797;
}
#dayAndNigth{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}
#todayDetailsNight, #todayDetailsDay{
    padding: 15px;
}
#todayDetailsNight>span:last-child, #todayDetailsDay>span:last-child{
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 10px;
}
#todayDetailsNight > span, #todayDetailsDay > span{
    display: flex;
    align-items: center;
}
#todayDetailsDay > span > img, #todayDetailsNight > span > img{
    height: 100px;
    
}
#todayDetailsNight>span>span>span, #todayDetailsDay>span>span>span{
    display: block;
    padding: 20px;
}
#dateTodayDetails{
    width: 90%;
    border: 1px solid #979797;
    display: flex;
    background-color: rgb(225, 240, 250);
}
#dateTodayDetails > span{
    width: 40%;
    padding: 10px;
}
#DateAndWeekDay{
    text-transform: capitalize;
}

/* Таблица со значениями */
/* Скорость ветра */
.speedWindDay>li{
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}
.speedWindDay>li>span{
    display: block;
    overflow: hidden;
	width: 25px;
	height: 20px;
	transform: skewX(-25deg);
	transform-origin: 0 100%;
    background-color: rgb(225, 240, 250);
    text-align: center;
}
.speedWindDay>li>span>span{
    transform: skewX(25deg);
    transform-origin: 0 100%;
    display: block;
    margin-left: 7px;
    margin-top: 1px;
}
.speedWindDay{
    padding: 10px 5px 10px 0;
    justify-content: space-around;
}
/* Осадки */
.probabilityDay ,#middleTable > li > ul{
    display: flex;
    flex-direction: row;
}
#bottomTable>li:nth-child(6), #bottomTable>li:nth-child(7){
    margin-left: 333px;
    opacity: 0;
}
.probabilityDay {
    padding: 40px 5px 0 5px;
    justify-content: space-between;
}
.probabilityDay > li{
    width: 34px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.probabilityDay>li>span {
    text-align: center;
    width: 34px;
    display: inline-block;
}
/* Столбцы осадков фоном */
.probNigth, .probMoning, .probDay, .probEvening{
    background: url('../img/FiveDay/Group.png') no-repeat;
    background-position-y: 70px;
}
/* слайдер дней */
#slider{
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#panelNav{
    min-height: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.navigation{
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.arrowLeft,.arrowRight{
    padding: 0 10px;
}
.arrowLeft::after{
    content: '';
    width: 30px;
    height: 5px;
    background-color: rgb(95, 195, 235);
    display: block;
    transform: rotate(45deg);
    margin-top: 14px;
}
.arrowLeft::before{
    content: '';
    width: 30px;
    transform: rotate(-45deg);
    height: 5px;
    background-color: rgb(95, 195, 235);
    display: block;
    margin-top: 50px;
}
.arrowRight::after{
    content: '';
    height: 5px;
    width: 30px;
    background-color: rgb(95, 195, 235);
    display: block;
    transform: rotate(-45deg);
    margin-top: 14px;
}
.arrowRight::before{
    content: '';
    width: 30px;
    transform: rotate(45deg);
    height: 5px;
    background-color: rgb(95, 195, 235);
    display: block;
    margin-top: 50px;
}
.arrowLeft,.arrowRight{
    cursor: pointer;
    z-index: 0;
}
#day{
    width: 60%;
    perspective: 800px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    z-index: 1;
}
.slide{
    z-index: 1;
    opacity: 0;
    border: 1px solid #979797;
    position: absolute;
    width: 100%;
    min-height: 120px;
    transform: rotate(180deg);
    transition: all 1s ease;
    background: #ffffff;
}
@keyframes show {
    from {opacity: 1;transform: rotateY(180deg)}
    10% {opacity: 1;transform: rotateY(162deg)}
    20% {opacity: 1;transform: rotateY(144deg)}
    30% {opacity: 1;transform: rotateY(126deg)}
    40% {opacity: 1;transform: rotateY(108deg)}
    50% {opacity: 1;transform: rotateY(90deg)}
    60% {opacity: 1;transform: rotateY(72deg)}
    70% {opacity: 1;transform: rotateY(54deg)}
    80% {opacity: 1;transform: rotateY(36deg)}
    90% {opacity: 1;transform: rotateY(18deg)}
    to {opacity: 1;transform: rotateY(0deg)}
}
.currentDayShow{
    animation: show 1s ease forwards;
}
@keyframes showRight {
    from {opacity: 1;transform: rotateY(-180deg)}
    10% {opacity: 1;transform: rotateY(-162deg)}
    20% {opacity: 1;transform: rotateY(-144deg)}
    30% {opacity: 1;transform: rotateY(-126deg)}
    40% {opacity: 1;transform: rotateY(-108deg)}
    50% {opacity: 1;transform: rotateY(-90deg)}
    60% {opacity: 1;transform: rotateY(-72deg)}
    70% {opacity: 1;transform: rotateY(-54deg)}
    80% {opacity: 1;transform: rotateY(-36deg)}
    90% {opacity: 1;transform: rotateY(-18deg)}
    to {opacity: 1;transform: rotateY(0deg)}
}
.currentDayShowRight{
    animation: showRight 1s ease forwards;
}
@keyframes hide {
    from {opacity: 1;transform: rotateY(0deg)}
    10% {opacity: 1;transform: rotateY(-18deg)}
    20% {opacity: 1;transform: rotateY(-36deg)}
    30% {opacity: 1;transform: rotateY(-54deg)}
    40% {opacity: 1;transform: rotateY(-72deg)}
    50% {opacity: 0;transform: rotateY(-90deg)}
    60% {opacity: 0;transform: rotateY(-108deg)}
    70% {opacity: 0;transform: rotateY(-126deg)}
    80% {opacity: 0;transform: rotateY(-144deg)}
    90% {opacity: 0;transform: rotateY(-162deg)}
    to {opacity: 0;transform: rotateY(-180deg)}
}
.dayHide{
    animation: hide 1s ease forwards;
}
@keyframes hideRight {
    from {opacity: 1;transform: rotateY(0deg)}
    10% {opacity: 1;transform: rotateY(18deg)}
    20% {opacity: 1;transform: rotateY(36deg)}
    30% {opacity: 1;transform: rotateY(54deg)}
    40% {opacity: 1;transform: rotateY(72deg)}
    50% {opacity: 0;transform: rotateY(90deg)}
    60% {opacity: 0;transform: rotateY(108deg)}
    70% {opacity: 0;transform: rotateY(126deg)}
    80% {opacity: 0;transform: rotateY(144deg)}
    90% {opacity: 0;transform: rotateY(162deg)}
    to {opacity: 0;transform: rotateY(180deg)}
}
.dayHideRight{
    animation: hideRight 1s ease forwards;
}
.numberDay{
    display: block;
    text-align: center;
    border-bottom: 1px solid #979797;
    padding: 0 5px;
    background-color: rgb(225, 240, 250);
    text-transform: capitalize;
}
#timeDay{
    padding: 2px 0;
    display: flex;
    justify-content: space-around;
}
.timeDay{
    width: 50px;
    text-align: center;
}
.timeDay>span{
    font-size: 12px;
}
.timeDay>span:nth-child(1){
    text-align: center;
    display: block;
    height: 20px;
}
.timeDay>span:nth-child(3){
    padding: 2px 5px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #979797;
}
.nightImg, .moningImg, .dayImg, .eveningImg{
    height: 42px;
}
.nightTemp{
    background: rgb(225, 240, 250);
}
.moningTemp{
    background: rgb(225, 240, 250);
}
.dayTemp{
    background: rgb(225, 240, 250);
}
.eveningTemp{
    background: rgb(225, 240, 250);
}
.navDays{
    width: 30px;
    text-align: center;
    padding: 3px 0;
    border: 1px solid #979797;
    background-color: rgb(225, 240, 250);
    cursor: pointer;
}
.hideNavDay{
    width: 0;
    font-size: 0;
    border: 0;
}
.current{
    background-color: rgb(95, 195, 235);
    text-transform: capitalize;
    color: #ffffff;
}
@media (max-width: 980px) {
    .probabilityDay {
        padding: 0 5px;
    }
}
@media (max-width: 900px) {
    .probabilityDay {
        flex-wrap: wrap;
    }
    .speedWindDay {
        flex-wrap: wrap;
    }
    .probabilityDay > li{
        margin: 0 10px;
    }
    .speedWindDay > li{
        margin: 5px 20px;
    }
}
@media (max-width: 768px) {
    #dayAndNigth{
        flex-wrap: wrap;
    }
    .navigation{
        width: 80%;
    }
    #day{
        width: 80%;
    }
    .speedWindDay > li{
        margin: 5px 10px;
    }
}
@media (max-width: 690px) { 
    #bottomHeader{
        height: auto!important;
        padding: 10px;
    }
    #form{
        margin-top: 10px;
    }
}
@media (max-width: 680px) {
    .probabilityDay > li{
        margin: 0 5px;
    }
}
@media (max-width: 610px) {
    #topCloudy{
        margin-top: -20px;
    }
}
@media (max-width: 560px) {
    .probabilityDay > li{
        margin: 0;
    }
}
@media (max-width: 535px) {
    #dateTodayDetails{
        flex-wrap: wrap;
        justify-content: center;
    }
    #dateTodayDetails > span{
        width: 240px;
    }
    .probabilityDay{
        padding: 0 20%;
    }
    .probabilityDay > li{
        margin: 0;
    }
}
@media (max-width: 480px) {
    .mainScroll{
        padding-top: 150px!important;
    }
}
@media (max-width: 320px) {
    #day{
        width: 100%;
    }
    .navigation{
        width: 100%;
    }
    .arrowLeft, .arrowRight{
        padding: 0 5px;
    }
    .arrowLeft::after, .arrowRight::after, .arrowLeft::before, .arrowRight::before {
        width: 15px;
        height: 3px;
    }
    .arrowLeft::after, .arrowRight::after{
        margin-top: 6px;
    }
    .probabilityDay{
        padding: 0 17%;
    }
}
