/* Страница истории */

/* Нижняя часть шапки */

#bottomHeader #placeTop{
    font-size: 16px;
    color: #0f0f0f;
    margin-top: 9px;
    margin-left: 40px;
}

/* Основное содеражание страницы */

#main{
    padding: 70px 0 143px 0;
    height: auto;
    background-color: #ffffff;
    border-right: 2px solid #bcb5b9;
    border-left: 2px solid #bcb5b9;
    border-bottom: 1px solid #979797;
}
#tableHistory{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.month{
    list-style-type: none;
    width: calc(100%/13);
    background: #0f0f0f;
    height: auto;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.month > span{
    font-size: 14px;
    border: 0;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tableHistory > li:nth-child(2n+1) >span:nth-child(2n){
    background-color: #ffffff;
}
#tableHistory > li:nth-child(2n+1) >span:nth-child(2n+1){
    background-color: #c4c4c4;
}
#tableHistory > li:nth-child(2n) >span:nth-child(2n+1){
    background-color: #ffffff;
}
#tableHistory > li:nth-child(2n) >span:nth-child(2n){
    background-color: #c4c4c4;
}

/* Media */
@media (max-width: 930px) {
    span.main{
        font-size: 12px;
    }
    .month > span:first-child{
        font-size: 12px;
    }
}
@media (max-width: 800px) {
    span.main{
        font-size: 10px;
    }
    .month > span:first-child{
        font-size: 10px;
    }
}
@media (max-width: 700px) {
    #main{
        display: flex;
        justify-content: center;
    }
    #tableHistory {
        flex-direction: column;
    }
    .month{
        flex-direction: row;
        width: 100%;
    }
    .month > span { 
        width: calc(100%/5);
        min-height: 40px;
        height: auto;
    }
    span.main{
        font-size: 14px;
    }
    .month > span:first-child{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    span.main{
        font-size: 12px;
    }
}
@media (max-width: 360px) {
    #form {
        margin-top: 0;
    }
    span.main{
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    #main{
        padding: 30px 0 60px 0;
    }
    span.main{
        font-size: 10px!important;
        font-weight: 600!important;
    }
    .month > span:first-child{
        font-size: 12px;
        font-weight: 600;
    }
    .month > span{
        font-weight: 100;
        font-size: 20px;
    }
}