/* Основная часть */
main#main{
    border-right: 2px solid #bcb5b9;
    border-left: 2px solid #bcb5b9;
    border-bottom: 1px solid #979797;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
}
section#mainDetails{
    height: 220px;
    padding: 20px;
}
#detailsPlace{
    float: left;
    font-size: 28px;
    line-height: 1.3;
    padding-left: 10px;
    display: block;
    width: 300px;
    text-transform: capitalize;
}
p#temperature{
    float: right;
    margin-top: 25px;
    font-size: 35px;
}
#imgWeatherToday{
    max-height: 100px;
    float: left;
}
span#details{
    float: right;
    font-size: 28px;
    line-height: 1.3;
    padding-right: 50px;
    display: block;
}
.detailsTab{
    margin-top: 40px;
    margin-right: 22px;
    border: 1px solid #979797;
    height: 48px;
    padding: 15px 15px;
    font-size: 16px;
    color: #000000;
}

.detailsTab:hover, .currentTab{
    outline: none;
    background: #979797;
}

/* Дни недели */
ul{
    padding-left: 10px;
    list-style: none;
}
#fiveDays>ul{
    margin: 0 auto;
    width: 575px;
}
.time{
    display:inline-block;
    padding: 5px;
    width: 105px;
}
.days{
    display:inline-block;
    padding: 5px;
    width: 105px;
    margin-left: -5px;
}
.speedWind{
    display:block;
    padding-bottom: 20px;
    font-weight: 600;
}
.timeWeather{
    display:block;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #afbfcd;
    text-align: center;
    font-weight: 600;
}
section.dayWeek{
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}
.dayWeek:focus,.dayWeek:hover{
    border: 1px solid #afbfcd;
}
ul li:first-child>.dayWeek{
    border: 1px solid #afbfcd;
}
.dayWeek>p:first-child{
    padding: 15px 0 15px 0;
    color: #afbfcd;
    font-weight: 600;
    text-transform: capitalize;
}
.dayWeek>p:last-child{
    padding: 10px 15px 5px 0px;
}
.dayWeek>img{
    height:50px;
}
.tempDay{
    font-weight: 600;
}
.tempNight{
    float: right;
    color: #afbfcd;
    font-weight: 600;
}
/* Tab Block */
.currentBlock{
    display: block!important;
}
.blockInformation{
    display: none;
    min-height: 120px;
}
#temperatureBlock{
    height: auto;
    margin: 0 40px;
}
/* Temp */
.tempPlus:nth-child(1), .tempMinus:nth-child(1), .windBlockInfo:nth-child(1){
    margin-left: -5px;
}
.tempPlus:last-child, .tempMinus:last-child, .windBlockInfo:last-child{
    margin-right: 0px;
}
.tempPlus ,.tempMinus{
    display: inline-block;
    margin-right: 91px;
    margin-left: -5px;
    height: auto;
    position: relative;
}
.tempInfoPlus{
    vertical-align:bottom;
    display: inline-block;
}
.tempInfoMinus{
    vertical-align:top;
    display: inline-block;
}
.tempvaluePlus, .tempvalueMinus{
    display: block;
    text-align: center;
    width: 30px;
    padding: 3px 0;
}
.tempColPlus ,.tempColMinus{
    height: 0px;
    width: 20px;
    background: #979797;
    margin: auto;
}
.tempColPlus{
    border: 0px solid black;
    border-bottom: 0;
}
.tempColMinus{
    border: 0px solid black;
    border-top: 0;
}
#tempPlus{
    border-bottom: 1px solid black;
    width: 870px;
}
/* WindSpeed */
.windBlockInfo:nth-child(1){
    margin-left: 38px;
}
.windBlockInfo{
    display: inline-block;
    margin-right: 80px;
    margin-left: -5px;
}
.wind{
    text-align: center;
}
/* Probability Graf */
#probabilityBlock{
    padding-left: 10px;
}
.probability {
    display: inline-block;
}
.colProbabilityInfo{
    display: inline-block;
    margin-left: -5px;
    vertical-align: bottom;
}
.probabilityCol{
    background: #e7edf8;
    border-top: 3px solid #7492d4;
    display: block;
    width: 39.7px;
}
.probabilityValue{
    color: #7492d4;
    font-weight: 600;
}
.probabilityValue{
    display: block;
    width: 39.7px;
    text-align: center;
}