/* Основная часть */
#main{
    border-right: 2px solid #bcb5b9;
    border-left: 2px solid #bcb5b9;
    border-bottom: 1px solid #979797;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
}
#mainDetails{
    min-height: 220px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#detailsPlace{
    font-size: 28px;
    line-height: 1.3;
    padding: 0 10px;
    display: block;
    width: 300px;
    text-transform: capitalize;
}
.detailsPlaceBlock{
    display:flex;
}
#temperature{
    margin-top: 25px;
    font-size: 35px;
}
#imgWeatherToday{
    max-height: 100px;
    float: left;
}
#details{
    font-size: 28px;
    line-height: 1.3;
    display: block;
    width: 500px;
}
#detailsButton{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.detailsTab{
    padding: 15px 15px;
    font-size: 16px;
    color: #000000;
}

.detailsTab:hover, .currentTab{
    outline: none;
    background: #979797;
}

/* Дни недели */
ul{
    list-style: none;
}
#hoursDays, #windDetails, #probabilityDetails, #tempPlus, #tempMinus{
    display: flex;
}
#hoursDays{
    justify-content: space-around;
    padding: 0;
}
#fiveDays {
    display: flex;
    justify-content: center;
}
#fiveDays>ul{
    display: flex;
    justify-content: space-around;
}
.days{
    padding: 5px;
    width: 105px;
}
.speedWind{
    display:block;
    padding-bottom: 20px;
    font-weight: 600;
}
.timeWeather{
    display:block;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #afbfcd;
    text-align: center;
    font-weight: 600;
}
.dayWeek{
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.dayWeek:focus,.dayWeek:hover{
    border: 1px solid #afbfcd;
}
li:first-child>.dayWeek{
    border: 1px solid #afbfcd;
}
.dayWeek>p:first-child{
    padding: 15px 0 15px 0;
    color: #afbfcd;
    font-weight: 600;
    text-transform: capitalize;
}
.dayWeek>p:last-child{
    padding: 10px 15px 5px 0px;
}
.dayWeek>img{
    height:50px;
}
.tempDay{
    font-weight: 600;
}
.tempNight{
    float: right;
    color: #afbfcd;
    font-weight: 600;
}
/* Tab Block */
.currentBlock{
    display: block!important;
}
.blockInformation{
    display: none;
    min-height: 120px;
}
#temperatureBlock{
    height: auto;
}
/* Temp */
.tempPlus ,.tempMinus{
    height: auto;
    position: relative;
}
.tempInfoPlus{
    vertical-align:bottom;
    display: inline-block;
}
.tempInfoMinus{
    vertical-align:top;
    display: inline-block;
}
.tempvaluePlus, .tempvalueMinus{
    display: block;
    text-align: center;
    width: 30px;
    padding: 3px 0;
}
.tempColPlus ,.tempColMinus{
    height: 0px;
    width: 20px;
    background: #979797;
    margin: auto;
}
.tempColPlus{
    border: 0px solid black;
    border-bottom: 0;
}
.tempColMinus{
    border: 0px solid black;
    border-top: 0;
}
#tempPlus{
    border-bottom: 1px solid black;
    align-items: flex-end;
    justify-content: space-around;
}
#tempMinus{
    align-items: flex-start;
    justify-content: space-around;
}
/* WindSpeed */
#windBlock > ul{
    justify-content: space-around;
}
.wind{
    text-align: center;
}
/* Probability Graf */
#probabilityDetails{
    justify-content: flex-start;
    justify-content: space-around;
}
.probability{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 125px;
}
.colProbabilityInfo{
    width: 30%;
}
.probabilityCol{
    background: #e7edf8;
    border-top: 3px solid #7492d4;
    display: block;
}
.probabilityValue{
    color: #7492d4;
    font-weight: 600;
    display: block;
    text-align: center;
}
@media (max-width: 768px) { 
    .detailsTab{
        font-size: 14px;
        padding: 10px 10px;
    }
}
@media (max-width: 690px) { 
    #mainDetails{
        flex-wrap: wrap;
    }
    #detailsPlace{
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
    }
    .detailsPlaceBlock{
        margin-left: 30px;
    }
    .dayWeek>img {
        height: 60px;
    }
}
@media (max-width: 600px) {
    .dayWeek{
        flex-direction: row;
        padding: 10px;
        justify-content: space-around;
    }
    .dayWeek>p:first-child {
        font-size: 24px;
    }
    .dayWeek>p:last-child {
        width: 90px;
        font-size: 24px;
    }
    .days{
        width: 100%;
        padding: 0;
    }
    .dayWeek>p:first-child {
        padding: 0 auto;
    }
    #fiveDays>ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 535px) {
    #imgWeatherToday{
        height: 70px;
    }
    #detailsPlace{
        font-size: 24px!important;
    }
    #temperature{
        font-size: 28px;
    }
    #main{
        padding: 5px;
    }
    #detailsButton{
        padding-top: 10px;
    }
    .blockInformation {
        min-height: 0;
    }
    .colProbabilityInfo:nth-child(2n+1) {
        width: 0;
    }
    .colProbabilityInfo:nth-child(2) {
        width: 90%;
    }
}
@media (max-width: 430px) {
    #detailsPlace, #temperatureInfo, #details{
        font-size: 20px!important;
    }
    #temperature{
        margin-top: 0;
        margin-left: 10px;
    }
    .detailsPlaceBlock{
        margin-left: 10px;
        align-items: center;
    }
    #imgWeatherToday{
        height: 50px;
    }
    .detailsTab{
        padding: 5px;
        font-size: 13px;
    }
    .time{
        font-size: 13px;
    }
    .probabilityValue{
        font-size: 13px;
    }
}
@media (max-width: 360px) {
    .speedWind{
        padding-bottom: 5px;
        font-size: 14px;
    }
    #main{
        padding: 2px;
    }
    #form {
        margin-top: 0;
    }
    .windArrow{
        height: 30px;
        width: 30px;
    }
    #mainDetails {
        padding: 5px;
    }
}